@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configurações de Layout */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
}

/* O Mapa precisa de altura definida para aparecer */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Fontes e Suavização */
body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}
